<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/expences/main.js" th:src="@{/expences/main.js}"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Wedding Planner Piekarscy</title>
    <style type="text/css">
        .jumbotron {
            background-image: url("https://images.pexels.com/photos/2008143/pexels-photo-2008143.jpeg");
            background-size: cover;
            height: 350px;
            color: darkolivegreen;
            text-shadow: #444 0 1px 1px;
        }
        .btn {
            background-color: lightpink;
        }

        .btn:hover {
            background-color: lemonchiffon;
        }

        .td {
            background-color: lightpink;
            font-size: 20px;
        }

    </style>
</head>

<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="https://www.clipartmax.com/png/middle/91-912013_herz-kontur-schwarz-love-logo-vector.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="">Wedding Planner Piekarscy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/summary">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/getAll">Lista zadań</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gifts/getAll">Prezenty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guests/getAll">Goście</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/expences/getAll">Budżet</a>
                </li>
            </ul>
        </div>
        <br>
        <a href="/logout" class="btn" role="button" aria-pressed="true">Wyloguj</a>
    </nav>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Budżet</h1>
        <p class="lead">Kontroluj wydatki</p>
    </div>
</div>

<!--OSTRZEŻENIE O PRZEKROCZENIU BUDŻETU-->
<div class="text-center">
<div th:if="${delta} < 0">
    <h2 class="alert alert-warning">Przekroczono założony budżet</h2>
</div>
</div>

<!--KAFELKI Z OBLICZENIAMI-->
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Budżet
                    <a sec:authorize="hasAnyAuthority('Admin')" th:href="@{/mybudgets/getOne/(Id=${1})}" id="editMyBudget" class="btn" >Edytuj</a> </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><p th:text="${sumMyBudget}"></p><h4> PLN</h4></h1>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Suma wydatków</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><p th:text="${sumExpences}"></p><h4> PLN</h4></h1>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pozostała kwota</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><p th:text="${delta}"></p><h4> PLN</h4></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div align="center"></div>

<button sec:authorize="hasAnyAuthority('Admin')" type="button" class="btn" data-toggle="modal" data-target="#addModal" >Dodaj nową pozycję</button>
<div><br></div>
<table class="table">
<thead class="thead-dark">
<tr style="font-weight:bold">
<td class="td">Numer</td>
<td class="td">Wydatek</td>
<td class="td">Kwota</td>
<td sec:authorize="hasAnyAuthority('Admin')" class="td">Edycja</td>
<td sec:authorize="hasAnyAuthority('Admin')" class="td">Usunięcie</td>
</tr>
</thead>
<tbody>
<tr th:each="expences:${expences}">
<td th:text="${expences.Id}">Id</td>
<td th:text="${expences.name}">Name</td>
<td th:text="${expences.value}">Kwota</td>
<td sec:authorize="hasAnyAuthority('Admin')"><a th:href="@{/expences/getOne/(Id=${expences.Id})}" id="editButton" class="btn">Edytuj</a> </td>
<td sec:authorize="hasAnyAuthority('Admin')"><a th:href="@{/expences/delete/(Id=${expences.Id})}" id="deleteButton" class="btn">Usuń</a> </td>
</tr>
</tbody>
</table>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action="@{/expences/addNew}" method="post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nowa pozycja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="Id" class="col-form-label" hidden>Numer:</label>
            <input type="text" class="form-control" id="IdAdd" name="Id" hidden>
          </div>
          
          <div class="form-group">
            <label for="Id" class="col-form-label">Wydatek:</label>
            <input type="text" class="form-control" id="nameAdd" name="name" required>
          </div>
          
          <div class="form-group">
            <label for="Id" class="col-form-label">Kwota:</label>
            <input type="number" class="form-control" id="valueAdd" name="value" min="1" required>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Zamknij</button>
        <button type="submit" class="btn">Zapisz</button>
      </div>
    </div>
  </div>
 </form>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action="@{/expences/update}" method="put">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edytuj pozycję</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="Id" class="col-form-label" hidden>Numer:</label>
            <input type="text" class="form-control" id="IdEdit" name="id" readonly hidden>
          </div>
          
          <div class="form-group">
            <label for="Id" class="col-form-label">Wydatek:</label>
            <input type="text" class="form-control" id="nameEdit" name="name" required>
          </div>

          <div class="form-group">
              <label for="Id" class="col-form-label">Kwota:</label>
              <input type="number" class="form-control" id="valueEdit" name="value" min="1" required>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Zamknij</button>
        <button type="submit" class="btn">Zapisz</button>
      </div>
    </div>
  </div>
 </form>
</div>

    <div class="modal fade" id="editModalMyBudget" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form th:action="@{/mybudgets/update}" method="put">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edytuj założony budżet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="Id" class="col-form-label" hidden>Numer:</label>
                                <input type="text" class="form-control" id="IdEditMyBudget" name="id" hidden readonly>
                            </div>

                        <div class="form-group">
                            <label for="Id" class="col-form-label">Wartość budżetu:</label>
                            <input type="number" class="form-control" id="nameEditMyBudget" name="value" min="1" required>
                        </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn">Zapisz</button>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potwierdź usunięcie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Czy na pewno chcesz usunąć tę pozycję?</p>
      </div>
      <div class="modal-footer">
        <a href="" id="delRef" class="btn">Tak, Usuń</a>
        <button type="button" class="btn" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>